body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color: #f1bc6b;
}
.blogText{
    padding-left: 10%;
}
section{
    display: flex;

}
div{
    width: 50%;
}
img{
    height: 100%;
    width: 100%;
}